@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* ----------------------------Global Styles------------------------------ */

:root {
    --primary-color: #3C65F5; 
    --secondary-color: #05264E; 
    --box-background-color-1: #E6ECFF;
    --text-color : #6C757D;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;        
}

/* ---------------------------- Header Section ------------------------------ */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-menu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    list-style: none;
}
.nav-menu ul li{
    margin-right: 30px;  
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
}
.btn-2 {
   padding: 10px 40px;
   border-radius: 10px;
   border: none;
   background-color: var(--primary-color);
   
}
.btn-2 a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.btn-1 {
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.btn-1 a{
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: all 0.1s ease;
}
.btn-2:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
}
.btn-2 a:hover{
    color: var(--primary-color) !important;
}
.btn-1 a:hover{
    color: var(--primary-color);
}

ul li a.active{
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
}
ul li a.active, ul li a:hover{
    color: var(--primary-color);
}

ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
 }


 /******************************** Blog my partie Mahjoub Echcherkaoui*****************************************/
/* @media (max-width:412px){
    .blog{
        width: 100%;
        height: 100vh;
        margin-bottom: 2100px;
    }
    .blog .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .title{
   
        margin: 15px 0 0 150px;
     
    }


} */

.blog{
    width: 100%;
    height: 100vh;
    margin-bottom: 2100px;
}
.blog .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
   
    margin: 30px 0 0 150px;
 
}
.title h1{
    font-size: 45px;
    color: var(--secondary-color);

}
.title h4{
    margin-top: -30px;
    font-size: 24px;
    color: var(--text-color);
}
.container .navb{
    padding: 10px 50px;
    margin-right: 50px;
    transition: all 0.8s ease;
}
.container .navb:hover{
    transform: scale(1.08);
}
.container .navb ul{
    
    display: flex;
    list-style: none;
    justify-content: space-around;
    /* color: #05264E; */
}
.navb  ul li{
    padding: 1px 30px;  
    transition: all 0.3s ease;

}
.navb  ul li:hover{
    transform: scale(1.1);
}

.navb  ul li a{   
    text-decoration: none;
    text-align: var(--secondary-color);
    font-weight: 700;
    transition: all 0.3s ease;
    color: #05264E;
}

.navb  ul li a.act2,
.navb  ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    
}

/* .navb .line1{
  font-weight: 3px;

  color: #11171f;
  opacity: 90%;
  width: 80%;
  transform: translate(21px,-15px); */
/**** start stayling cards news for blog  *****/
.news{
    display: grid;
    grid-template-columns: 70% 30%;
    width: 100%;
    /* height: auto; */
    margin: 70px 120px 0 0;
}
.article{
 display: grid;
 grid-template-columns: 1fr 1fr;
 grid-template-rows: repeat(4,1fr);
 margin: 20px 60px;
}
.blog-box{
    background-color: #ffffff;
    border: 1px solid rgba(54, 96, 244, 0.4);
    margin: 20px;
    border-radius: 20px;
    transition: all 0.8s ease;
    box-shadow: 5px 4px 25px rgba(0, 0, 14, 0.071);
}
.blog-box:hover{
    transform: scale(1.03);
    border: 1px solid rgba(54, 96, 244, 0.8);
}
.blog-img{
    width: 100%;
    height: auto;
}
.blog-img img{
    width: 95%;
    height: 90%;
    margin: 10px;
    border-radius: 20px;
    background-size: 50px 50px;
}
.blog-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0 0 20px;

}
.blog-text button{
    background: rgba(66, 148, 255, 0.5);
    border: none;
    color: #3660F4;
    font-size: 11px;
    font-weight: 600;
    border-radius: 2px;
    margin-bottom: 20px;
    padding: 3px;
    cursor: pointer;
}
.blog-text .blog-title{
    text-decoration: none;
    font-size: 19px;
    color: var(--secondary-color);
    font-weight: 800;
    transition: all 0.8s ease;
}
.blog-text .blog-title:hover{
    transform: scale(1.03);
}
.blog-text p{
    font-size: 15px;
    color: #4F5665;
    font-weight: 500;
}
.usertime{
    display: flex;
    justify-content: space-around;
}
.usertime .user{
    display: flex;
    justify-content: space-around;
}
.user i{
    font-size: 50px;
    color: #c8cbcb;
    margin: 10px 55px 0 0;
}
.user h5{
   transform: translate(-35px,-9px);
   font-size: 14px;
   color: #4F5665;
}
.usertime .time{
    margin: 25px 0 0 10px;
    font-weight: 500;
    color: #4F5665;
    font-size: 15px;
}
.sidebar-search{
    margin: 0 60px 0 -30px;
}
.sidebar-search .search{
    margin : 40px 0 0 0;
    padding: 5px;
    display: flex;
    height: 30px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #F6F5FC;
    border-radius: 10px;
    box-shadow: 5px 4px 25px rgba(0, 0, 14, 0.071);
    border: 1px solid rgba(54, 96, 244, 0.4);
}
.search:hover input{
     width: 360px; 
}
.search input{
    width: 0;
    outline: none;
    border: none;
    font-weight: 500;
    transition: 0.8s;
    background: transparent;
}
.search a .fas{
    color: #1C336A;
    font-size: 18px;
}
.sidebar{
    background: #C9DAF2;
    margin: 30px 3px 0 3px;
    border-radius: 20px;
    height: auto;

}
.sidebar .description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.description a{
    margin-top: 40px;
}
.description a.logo-side{
   margin-top: 40px;
   width: 40%;
   transition: all 0.8s ease;
}
.description .logo-side:hover{
    transform: scale(1.05);
}

.description hr{
    color: #4F5665;
    opacity: 50%;
    font-weight: 500;
    width: 60%;
    height: 1px;
    transform: translateY(-20px);
}
.description p{
    text-align: center;
    font-size: 12.5px;
    transform: translateY(-30px);
    color: #4F5665;
    font-weight: 600;
}
.description .hero{
    width: 99%;
    height: 300px;
}
.post{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.post h1{
    font-size: 30px;
}
.post hr{
    width: 60%;
    color: #4F5665;
    transform: translateY(-25px);
    margin-bottom: 25px;
    opacity: 50%;
    height: 1px;
}
.post .puplarbox{
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 20px;
    margin: 0 0 20px 0;
    transition: all 0.8s ease;
}
.puplarbox:hover{
    transform: scale(1.03);
}
.puplarbox img{
    width: 20%;
    height: 10vh;
    border-radius: 50%; 
}
.puplarbox h4 a{
    font-size: 14px;
    margin-bottom: 25px;
    color: #222d3c;
}
.puplarbox a{
    text-decoration: none;
}
.puplarbox span{
    color: #4F5665;
    font-size: 12px;
}
.tags{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.tags h1{
    font-size: 30px;
}
.tags hr{
    width: 60%;
    color: #4F5665;
    transform: translateY(-25px);
    margin-bottom: 10px;
    height: 1px;
}
.tags .tag-clouds{
    padding: 20px;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3,27%);
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-size: 14px;
    color : #4F5665;
}
.tags .tag-clouds div{
    background: #E6ECFF;
    text-align: center;
    padding: 5px 10px;
    border-radius: 18px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tags .tag-clouds div:hover{
    transform: scale(1.03);
}
/* ---------------------------- Newsletter Section ------------------------------ */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 140px ;
    background-color: var(--primary-color);
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
}
.center-box h2{
    font-size: 32px;
    color: white;
}
.input{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.input input{
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #6c757d;
}   
.subscribe-btn{
    background-color: #3C65F5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.subscribe-btn:hover{
    background-color: #2a4cc7;
}
.subscribe-btn i{
    font-size: 20px;
    margin-right:10px ;
}


/* ---------------------------- Footer Section ------------------------------ */

.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    color: #333;
    padding: 30px 80px;
    align-items: start;
}
.socail-media i{
    font-size: 25px;
    color: var(--secondary-color);
    padding: 20px 0px;
}
.list-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.list-2 ul, .list-2 ul li a{
    list-style: none;
    text-decoration: none;
    
    
}

@media (max-width: 412px) {
    .blog{
        width: 100%;
        height: auto;
        margin: 10px;
        
    }
    .header {
        display: none;
    }
    .puplarbox img {
        width: 22%;
        height: 13vh;
        border-radius: 50%;
    }
    .puplarbox h4 a {
        font-size: 14px;
        margin-bottom: 25px;
        color: #222d3c;
    }
    .puplarbox span {
        color: #4F5665;
        font-size: 11px;
    }
    .tags .tag-clouds{
        margin-top: -30px;
        padding: 20px;
        width: 80%;
        display: grid;
        grid-template-columns: repeat(2, 50%);
        justify-content: center;
        align-items: center;
        gap: 15px;
        font-size: 40px;
    }
    .tags .tag-clouds div {
        font-size: 8px;
    }

    .blog .container {        
        display: flex;
        flex-direction: column;
    }

    .header .logo img {
        width: 150px;
    }
    .container .navb ul{
        display: flex;
        flex-direction: row;
    }
    .nav-menu ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }

    .nav-menu ul li {
        margin: 10px 0;
    }

    .btn-1, .btn-2 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }

    .blog .container {
        flex-direction: column;
        align-items: center;
    }
    .newsletter{
        display: none;
    }
    .header{
        display: flex;
    }
    .title {
        margin: -20px -20px -20px 38px;
        text-align: center;
    
    }
    .title h4 {
        margin-top: -30px;
        font-size: 15px;
        color: var(--text-color);
    }
    .navb ul {
        flex-direction: column;
        padding: 0;
        align-items: center;
    }
    .container .navb {
        padding: 10px 54px;
        margin: 0 0 0 63px;
    }
    .navb ul li {
        font-size: 14px;
        padding: 1px 17px;
        transition: all 0.3s ease;
    }
    
    .sidebar-search .search {
        display: flex;
        height: 20px;
        width: 67%;
        left: 101px;
        top: 520px;
    position: absolute;
    }
    .search input {
        width: calc(90% - 20px);
        margin: 0 auto;
        width: 0;
        outline: none;
        border: none;
        font-weight: 500;
        transition: 0.8s;
        background: transparent;
    }
    .search:hover input {
        width: 230px;
    }
    .news {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px;
    }

    .article {
        display: flex;
        flex-direction: column;
    }

    .blog-box {
        width: 400px;
    }

    .blog-img img {
        height: auto;
    }

    .sidebar-search {
        width: 90%;
        margin-left: 56px;
        margin-top: 20px;
    }
    .description p{
        font-size: 10px;
    }

    .sidebar {
        text-align: center;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        color: #333;
        padding: 30px 80px;
        align-items: start;
    }
    .footer {
        grid-template-columns: 1fr; 
        text-align: start;
    }
    .list-1 p {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 15px;
        width: 80%;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: start;
    }
    .footer-bottom-links{
        justify-content: center;
    }
}





/* Responsive For Footer Section
@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr); 
    }

    .footer-bottom {
        flex-direction: column;
        text-align: start;
    }

    .footer-bottom-links {
        justify-content: start;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        grid-template-columns: 1fr; 
        text-align: start;
    }
    .list-1 p {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 15px;
        width: 80%;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: start;
    }
    .footer-bottom-links{
        justify-content: center;
    }
} */