@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* ----------------------------Global Styles------------------------------ */

:root {
    --primary-color: #3C65F5; 
    --secondary-color: #05264E; 
    --box-background-color-1: #E6ECFF;
    --text-color : #6C757D;
}

body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;        
}

/* ---------------------------- Header Section ------------------------------ */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-menu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    list-style: none;
}
.nav-menu ul li{
    margin-right: 30px;  
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
}
.btn-2 {
   padding: 10px 40px;
   border-radius: 10px;
   border: none;
   background-color: var(--primary-color);
   
}
.btn-2 a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.btn-1 {
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.btn-1 a{
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: all 0.1s ease;
}
.btn-2:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
}
.btn-2 a:hover{
    color: var(--primary-color) !important;
}
.btn-1 a:hover{
    color: var(--primary-color);
}

ul li a.active{
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
}
ul li a.active, ul li a:hover{
    color: var(--primary-color);
}

ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
 }

 /******* Blog my partie Mahjoub Echcherkaoui********/
.blog{
    width: 100%;
    height: 100vh;
    
}
.blog .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title{
   
    margin: 30px 0 0 150px;
}
.title h1{
    font-size: 45px;
    color: var(--secondary-color);

}
.title h4{
    margin-top: -30px;
    font-size: 24px;
    color: var(--text-color);
}
.container .navb{
    padding: 10px 50px;
    margin-right: 50px;
}
.container .navb ul{
    
    display: flex;
    list-style: none;
    justify-content: space-around;
    color : #4F5665;
}
.navb  ul li{
    padding: 1px 30px;  
}
.navb  ul li a{   
    text-decoration: none;
    text-align: var(--secondary-color);
    font-weight: 700;
    transition: all 0.3s ease;
}
.navb  ul li a.act2,
.navb  ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
}

.navb .line1{
  font-weight: 3px;

  color: #11171f;
  opacity: 90%;
  width: 80%;
  transform: translate(21px,-15px);
}
/* ---------------------------- Newsletter Section ------------------------------ */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 140px ;
    background-color: var(--primary-color);
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
}
.center-box h2{
    font-size: 32px;
    color: white;
}
.input{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.input input{
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #6c757d;
}   
.subscribe-btn{
    background-color: #3C65F5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.subscribe-btn:hover{
    background-color: #2a4cc7;
}
.subscribe-btn i{
    font-size: 20px;
    margin-right:10px ;
}

/* ---------------------------- Footer Section ------------------------------ */

.footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 30px;
    color: #333;
    padding: 30px 80px;
    align-items: start;
}
.socail-media i{
    font-size: 25px;
    color: var(--secondary-color);
    padding: 20px 0px;
}
.list-2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.list-2 ul, .list-2 ul li a{
    list-style: none;
    text-decoration: none;
    
    
}