@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

/* ----------------------------Global Styles------------------------------ */

:root {
    --primary-color: #3C65F5; 
    --secondary-color: #05264E; 
    --box-background-color-1: #E6ECFF;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;

}


body {
    font-family: "Plus Jakarta Sans", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;        
}

/* ---------------------------- Header Section ------------------------------ */

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 80px;
}
.nav-menu ul{
    list-style: none;
    text-decoration: none;
    display: flex;
    list-style: none;
}
.nav-menu ul li{
    margin-right: 30px;  
}
.nav-menu ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: var(--secondary-color);
}
.btn-2 {
   padding: 10px 40px;
   border-radius: 10px;
   border: none;
   background-color: var(--primary-color);
   
}
.btn-2 a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
}
.btn-1 {
    background-color: transparent;
    border: none;
    margin-right: 20px;
}
.btn-1 a{
    font-size: 18px;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: 700;
    font-family: "Plus Jakarta Sans", sans-serif;
    transition: all 0.1s ease;
}
.btn-2:hover{
    background-color: transparent;
    border: 1px solid var(--primary-color) !important;
}
.btn-2 a:hover{
    color: var(--primary-color) !important;
}
.btn-1 a:hover{
    color: var(--primary-color);
}

ul li a.active{
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
}
ul li a.active, ul li a:hover{
    color: var(--primary-color);
}

ul li a:hover{
    color: var(--primary-color);
    border-bottom: 3px solid var(--primary-color);
    transform: scale(1.1);
 }

/* ---------------------------- Hero Section ------------------------------ */

#hero{
    background-image: url(../images/backround\ contact.png);
    width: 100%;
    height: 226px;
}

.intro h3{
    font-size: 40px;
    color: white;
    margin-top: 60px;
}

.intro p{
    font-size: 24px;
    color: white;
    margin-top: 20px;
}
.intro{
    display: flex;
    align-items: start;
    flex-direction: column;
    margin: 90px;
    margin-top: 80px;
}

/*-----------------------------Formul Section------------------------------------*/

.formul{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.formul-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
    padding: 20px;
    max-width: 600px;
    margin: -20px;
}

.formul-container textarea{
    grid-column: span 2;
}

.contact-section{
    margin: 90px;
    
}

.contact h6{
    font-size: 24px;
    color: #3663F4;
}

.contact h2{
    font-size: 36px;
    color: #1C2D42;
    margin: 20px 0;
}

.contact p{
    font-size: 20px;
    color: #6C757D;
    margin-bottom: 40px;
}

.formul-container input{
    width: 406px;
    height: 55px;
    padding: 10px;
    background-color: #C9DAF2;
    border: 1px solid white;
    border-radius: 10px;
}

.formul-container textarea{
    width: 826px;
    height: 271px;
    padding: 10px;
    background-color: #C9DAF2;
    border: 1px solid white;
    border-radius: 10px;
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    
}

.formul-container .checkbox-button{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.formul-container .checkbox{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.formul-container .checkbox input[type="checkbox"]{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.formul-container .checkbox label{
    font-size: 13px;
    color: #1C2D42;
}

.btn-contact{
    padding: 10px;
    background-color: #008cff;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    font-size: 18px;
    text-align: center;
}

.btn-contact a{}

.btn-contact:hover{
    background-color: #005bb5;
}

/*--------------------------------Comments Section--------------------------------*/

.comments{
    text-align: center;
    padding: 50px 20px;

}

.comments h1{
    font-size: 40px;
    margin-bottom: 10px;
    color: #05264E;
}
.comments p{
    font-size: 20px;
    color: #000000;
    margin-bottom: 40px;
}

.comments-grid{
    display: grid;
    grid-template-columns: repeat(3,353px);
    gap: 20px;
    margin: 0 auto;
    max-width: 1200px;
    margin-top: 40px;
    justify-content: center;
}

.comment{
   
    height: 318px;
    background-color: #E6ECFF;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.stars{
    font-size: 20px;
    color: #FFC107;
    margin-top: 20px ;
    text-align: start;
    margin-left: 20px;
}
.comment p{
    font-size: 16px;
    color: #000000;
    margin-bottom: 20px;
    margin-top: 40px;
    text-align: start;
    margin-left: 20px;

}

.user{
    display: flex;
    justify-content: flex-start;
    margin-left: -60px;
    gap: 10px;
}

.user-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.user img{
    width: 64px;
    height: 64px;
    margin-left: 70px;
}

.user-info h4{
    font-size: 16px;
   
    
}

.user-info span{
    font-size: 12px;
    color: #4F5665;

}




/* ---------------------------- Newsletter Section ------------------------------ */

.newsletter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 140px ;
    background-color: var(--primary-color);
    padding: 20px 40px;
    border-radius: 20px;
    text-align: center;
}
.center-box h2{
    font-size: 32px;
    color: white;
}
.input{
    background-color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
}
.input input{
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
    padding: 10px;
    font-family: 'Plus Jakarta Sans', sans-serif;
    color: #6c757d;
}   
.subscribe-btn{
    background-color: #3C65F5;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.2s ease;
}
.subscribe-btn:hover{
    background-color: #2a4cc7;
}
.subscribe-btn i{
    font-size: 20px;
    margin-right:10px ;
}

/* ---------------------------- Footer Section ------------------------------ */

.footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 20px;
    padding: 20px 40px;
}

.footer > div {
    padding: 10px;
}

.list-1 img {
    margin-bottom: 10px;
}

.list-1 p {
    font-size: 14px;
    color: #6c757d;
    margin-bottom: 15px;
}

.social-media i {
    font-size: 20px;
    margin-right: 10px;
    color: var(--secondary-color);
    font-size: 24px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--secondary-color);
}

h2 {
    font-size: 16px;
    margin-bottom: 15px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    font-size: 14px;
}

.footer-bottom p {
    color: #6c757d;
    width: 80%;
}

.footer-bottom-links {
    display: flex;
}

.footer-bottom-links li {
    margin-left: 20px;
}

.footer-bottom-links li a {
    color: #6c757d;
}




/* ---------------------------- Responsive Styles ------------------------------ */

@media (max-width: 412px) {

    body{
        text-align: start;
        margin: 0;
    }

    .header{
        display: none;
    }

    #hero{
        
        background-image: url(../images/backround\ contact.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 153px;
        width: 100%;
    }


    .intro h3{
        font-size: 24px;
        margin-left: -70px;
        margin-top: 40px;
    }
    
    .intro p{
        font-size: 14px;
        margin-left: -70px;
        margin-top: 5px;
    }
    
    .comments-grid {
        grid-template-columns: 1fr; 
    }

    #para {
        display: none;
    }
    .comments h1{
        font-size: 20px;
    }
    
    
    .formul {
        display: flex;
        flex-direction: column; 
        text-align: start; 
        padding: 0;
        width: 100%;
        margin-left: -50px;
    }

    .formul-container {
        display: flex;
        flex-direction: column; 
        gap: 10px;
        padding: 0; 
        margin: 0 auto; 
        width: 90%; 
    }

    .formul-container input,
    .formul-container textarea{
        width: 389px;
        margin-left: -40px;


    }

    .image-container {
        margin-top: 20px; 
        display: block; 
        width: 372px;
        height: 496px;
        text-align: center; 
        margin-left: -20px;
    }

    .image-container img {
        width: 100%; 
        height: auto;
        text-align: center;
    }
    .contact{
        margin-left: -70px;
    }
    .contact p{
        font-size: 13px;
        
    }
    .contact h2{
        font-size: 24px;
    }
    .contact h6{
        font-size: 15px;
    }
    .checkbox label{
        font-size: 10px;
        max-width: 200px;
    }
    .btn-contact{
        width: 137px;
        height: 34px;
        margin-left: -40px;
        margin-top: -30px;
    }

    .newsletter{
        width: 90%;
        max-width: 327px;
        padding: 15px;
        margin: 0 auto;
    }

    .center-box h2{
        font-size: 20px;
        text-align: center;
        margin-right: 50px;
    }

    .subscribe-btn{
        margin-left: -40px;
    }

    

}

/* Responsive For Footer Section */

@media screen and (max-width: 768px) {
    .footer {
        grid-template-columns: repeat(2, 1fr); 
    }

    .footer-bottom {
        flex-direction: column;
        text-align: start;
    }

    .footer-bottom-links {
        justify-content: start;
        margin-top: 10px;
    }
}

@media screen and (max-width: 480px) {
    .footer {
        grid-template-columns: 1fr; 
        text-align: start;
    }
    .list-1 p {
        font-size: 14px;
        color: #6c757d;
        margin-bottom: 15px;
        width: 80%;
    }
    .footer-bottom {
        flex-direction: column;
        text-align: start;
    }
    .footer-bottom-links{
        justify-content: center;
    }
}

    


